In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train = pd.read_csv('train_HK6lq50.csv')
test = pd.read_csv('test_wF0Ps6O.csv')
sam = pd.read_csv('sample_submission_vaSxamm.csv')
#sub.drop(['gender'], axis=1, inplace=True)

train.shape, test.shape, sam.shape

((73147, 16), (31349, 15), (31349, 2))

In [3]:
train.head()

,id,program_id,program_type,program_duration,test_id,test_type,difficulty_level,trainee_id,gender,education,city_tier,age,total_programs_enrolled,is_handicapped,trainee_engagement_rating,is_pass
0,9389_150,Y_1,Y,136,150,offline,intermediate,9389,M,Matriculation,3,24.0,5,N,1.0,0
1,16523_44,T_1,T,131,44,offline,easy,16523,F,High School Diploma,4,26.0,2,N,3.0,1
2,13987_178,Z_2,Z,120,178,online,easy,13987,M,Matriculation,1,40.0,1,N,2.0,1
3,13158_32,T_2,T,117,32,offline,easy,13158,F,Matriculation,3,NaN,4,N,1.0,1
4,10591_84,V_3,V,131,84,offline,intermediate,10591,F,High School Diploma,1,42.0,2,N,4.0,1

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73147 entries, 0 to 73146
Data columns (total 16 columns):
id                           73147 non-null object
program_id                   73147 non-null object
program_type                 73147 non-null object
program_duration             73147 non-null int64
test_id                      73147 non-null int64
test_type                    73147 non-null object
difficulty_level             73147 non-null object
trainee_id                   73147 non-null int64
gender                       73147 non-null object
education                    73147 non-null object
city_tier                    73147 non-null int64
age                          45418 non-null float64
total_programs_enrolled      73147 non-null int64
is_handicapped               73147 non-null object
trainee_engagement_rating    73070 non-null float64
is_pass                      73147 non-null int64
dtypes: float64(2), int64(6), object(8)
memory usage: 8.9+ MB

In [5]:
#taking backup of train, test data
train_copy = train.copy()
test_copy = test.copy()

In [6]:
train['is_pass'].value_counts()

1    50867
0    22280
Name: is_pass, dtype: int64

In [7]:
failData = train[train['is_pass']==False]
train = train.append(failData)
train.shape

(95427, 16)

In [8]:
train['is_pass'].value_counts()

1    50867
0    44560
Name: is_pass, dtype: int64

In [9]:
df = pd.concat([train,test])

In [10]:
#dropping id column 
df = df.drop(['id'],axis=1)

#filling missing values of age and trainee_engagement_rating with average values
df[['age','trainee_engagement_rating']] = df[['age','trainee_engagement_rating']].fillna(df[['age','trainee_engagement_rating']].mean())

#age_avg = np.average(list(df['age'].unique()[np.logical_not(np.isnan(df['age'].unique()))])).round()
#rating_avg = np.average(list(df['trainee_engagement_rating'].unique()[np.logical_not(np.isnan(df['trainee_engagement_rating'].unique()))])).round()
#age_avg,rating_avg

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
target = 'is_pass'
features = list(set(df.columns)-set(['is_pass']))
cat_features = ['program_id','program_type','test_type','difficulty_level','gender','education','is_handicapped']
for i in cat_features:
    df[i] = le.fit_transform(df[i])

In [12]:
df.head()

,age,city_tier,difficulty_level,education,gender,is_handicapped,is_pass,program_duration,program_id,program_type,test_id,test_type,total_programs_enrolled,trainee_engagement_rating,trainee_id
0,24.000000,3,2,3,1,0,0.0,136,15,5,150,0,5,1.0,9389
1,26.000000,4,0,1,0,0,1.0,131,2,1,44,0,2,3.0,16523
2,40.000000,1,0,3,1,0,1.0,120,20,6,178,1,1,2.0,13987
3,36.303402,3,0,3,0,0,1.0,117,3,1,32,0,4,1.0,13158
4,42.000000,1,2,1,0,0,1.0,131,10,3,84,0,2,4.0,10591

In [13]:
Data_train = df[df['is_pass'].notnull()]
Data_test =  df[df['is_pass'].isnull()]
Data_train.shape,Data_test.shape

((95427, 15), (31349, 15))

In [14]:
Data_train.corr()

,age,city_tier,difficulty_level,education,gender,is_handicapped,is_pass,program_duration,program_id,program_type,test_id,test_type,total_programs_enrolled,trainee_engagement_rating,trainee_id
age,1.000000,-0.053559,-0.016478,-0.034303,-0.021976,-0.021871,0.063148,-0.014448,-0.012081,-0.020693,-0.022021,0.035143,-0.055629,0.153358,0.086248
city_tier,-0.053559,1.000000,-0.018223,0.087312,-0.073042,0.061459,-0.074215,-0.026041,-0.003399,-0.005079,-0.003250,0.005382,0.018125,-0.052243,-0.013078
difficulty_level,-0.016478,-0.018223,1.000000,-0.050136,0.041670,-0.024838,-0.120740,0.006452,-0.207061,-0.203198,-0.225230,-0.671020,0.071250,-0.029958,-0.033802
education,-0.034303,0.087312,-0.050136,1.000000,-0.060752,0.071925,-0.086530,-0.008240,0.082667,0.079901,0.083739,0.013938,-0.061018,-0.047837,-0.002914
gender,-0.021976,-0.073042,0.041670,-0.060752,1.000000,-0.045849,0.022078,0.106707,0.277824,0.299239,0.275899,0.017605,0.061379,0.254040,0.016432
is_handicapped,-0.021871,0.061459,-0.024838,0.071925,-0.045849,1.000000,-0.039348,-0.010797,0.029879,0.028701,0.029916,0.011896,0.028362,-0.031733,-0.020064
is_pass,0.063148,-0.074215,-0.120740,-0.086530,0.022078,-0.039348,1.000000,0.003879,0.094932,0.089448,0.081501,0.166255,-0.033892,0.217628,0.038976
program_duration,-0.014448,-0.026041,0.006452,-0.008240,0.106707,-0.010797,0.003879,1.000000,0.050869,0.120086,0.194268,-0.074168,-0.012838,0.090444,0.149193
program_id,-0.012081,-0.003399,-0.207061,0.082667,0.277824,0.029879,0.094932,0.050869,1.000000,0.984487,0.926847,0.209029,-0.112320,0.343766,0.014123
program_type,-0.020693,-0.005079,-0.203198,0.079901,0.299239,0.028701,0.089448,0.120086,0.984487,1.000000,0.975682,0.181655,-0.112529,0.349435,0.073344
test_id,-0.022021,-0.003250,-0.225230,0.083739,0.275899,0.029916,0.081501,0.194268,0.926847,0.975682,1.000000,0.193301,-0.129528,0.320152,0.143888
test_type,0.035143,0.005382,-0.671020,0.013938,0.017605,0.011896,0.166255,-0.074168,0.209029,0.181655,0.193301,1.000000,-0.013639,0.136174,-0.026976
total_programs_enrolled,-0.055629,0.018125,0.071250,-0.061018,0.061379,0.028362,-0.033892,-0.012838,-0.112320,-0.112529,-0.129528,-0.013639,1.000000,0.080689,-0.076454
trainee_engagement_rating,0.153358,-0.052243,-0.029958,-0.047837,0.254040,-0.031733,0.217628,0.090444,0.343766,0.349435,0.320152,0.136174,0.080689,1.000000,0.027198
trainee_id,0.086248,-0.013078,-0.033802,-0.002914,0.016432,-0.020064,0.038976,0.149193,0.014123,0.073344,0.143888,-0.026976,-0.076454,0.027198,1.000000

In [15]:
#elements = ['gender','is_handicapped','program_duration','trainee_id','total_programs_enrolled','program_id','program_type','test_id','age','city_tier']
#Data_train = Data_train.drop(elements,axis=1)
#Data_test =  Data_test.drop(elements,axis=1)

#for i in elements:
#    features.remove(i)
#cat_features = cat_features.remove('program_duration')

In [16]:
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier,ExtraTreeClassifier
from sklearn.ensemble import AdaBoostClassifier,RandomForestClassifier,VotingClassifier,BaggingClassifier,ExtraTreesClassifier,GradientBoostingClassifier,BaggingClassifier,ExtraTreesClassifier

from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

import xgboost as xgb
#import lightgbm as lgb
#import catboost as cat
def baseliner(train, features, target, cv=3, metric='accuracy'):
    """
    Function for baselining Models which return CV Score, Train Score, Valid Score
    """
    print("Baseliner Models\n")
    eval_dict = {}
    models = [xgb.XGBClassifier(), GradientBoostingClassifier(), LogisticRegression(), 
              RandomForestClassifier(), DecisionTreeClassifier(), AdaBoostClassifier(),ExtraTreeClassifier(),ExtraTreesClassifier(),
              KNeighborsClassifier(),BaggingClassifier()
             ]
    print("Model Name \t |   CV")
    print("--" * 50)

    for index, model in enumerate(models, 0):
        model_name = str(model).split("(")[0]
        eval_dict[model_name] = {}

        results = cross_val_score(model, train[features], train[target], cv=cv, scoring=metric)
        eval_dict[model_name]['cv'] = results.mean()

        print("%s \t | %.4f \t" % (
            model_name[:12], eval_dict[model_name]['cv']))

In [17]:
train.columns

Index(['id', 'program_id', 'program_type', 'program_duration', 'test_id',
       'test_type', 'difficulty_level', 'trainee_id', 'gender', 'education',
       'city_tier', 'age', 'total_programs_enrolled', 'is_handicapped',
       'trainee_engagement_rating', 'is_pass'],
      dtype='object')

In [18]:
baseliner(Data_train,features,'is_pass')

Baseliner Models

Model Name 	 |   CV
----------------------------------------------------------------------------------------------------

C:\Users\braja.bera\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\braja.bera\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\braja.bera\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

XGBClassifie 	 | 0.6667
GradientBoos 	 | 0.6667
LogisticRegr 	 | 0.6286
RandomForest 	 | 0.8424
DecisionTree 	 | 0.8559
AdaBoostClas 	 | 0.6558
ExtraTreeCla 	 | 0.8473
ExtraTreesCl 	 | 0.8544
KNeighborsCl 	 | 0.7184
BaggingClass 	 | 0.8447

In [19]:
import statsmodels.api as sm
X_train_cat = Data_train[features]
X_train_lm1 = sm.add_constant(X_train_cat)

lr1 = sm.OLS(Data_train['is_pass'], X_train_lm1).fit()

print(lr1.params)
print(lr1.summary())

C:\Users\braja.bera\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

const                        0.419361
test_type                    0.132465
trainee_engagement_rating    0.074902
education                   -0.033069
gender                      -0.045503
age                          0.001103
program_id                  -0.017603
city_tier                   -0.028134
program_type                 0.148865
total_programs_enrolled     -0.019058
is_handicapped              -0.043110
difficulty_level            -0.019266
trainee_id                   0.000004
program_duration             0.000255
test_id                     -0.003317
dtype: float64
                            OLS Regression Results
==============================================================================
Dep. Variable:                is_pass   R-squared:                       0.084
Model:                            OLS   Adj. R-squared:                  0.084
Method:                 Least Squares   F-statistic:                     626.6
Date:                Thu, 16 Apr 2020   Prob (F-statistic):               0.00
Time:                        09:50:00   Log-Likelihood:                -64855.
No. Observations:               95427   AIC:                         1.297e+05
Df Residuals:                   95412   BIC:                         1.299e+05
Df Model:                          14
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         0.4194      0.034     12.495      0.000       0.354       0.485
test_type                     0.1325      0.005     26.348      0.000       0.123       0.142
trainee_engagement_rating     0.0749      0.001     54.409      0.000       0.072       0.078
education                    -0.0331      0.001    -24.205      0.000      -0.036      -0.030
gender                       -0.0455      0.004    -12.723      0.000      -0.053      -0.038
age                           0.0011      0.000      4.928      0.000       0.001       0.002
program_id                   -0.0176      0.004     -4.332      0.000      -0.026      -0.010
city_tier                    -0.0281      0.002    -18.285      0.000      -0.031      -0.025
program_type                  0.1489      0.023      6.422      0.000       0.103       0.194
total_programs_enrolled      -0.0191      0.001    -14.839      0.000      -0.022      -0.017
is_handicapped               -0.0431      0.005     -8.062      0.000      -0.054      -0.033
difficulty_level             -0.0193      0.002     -8.648      0.000      -0.024      -0.015
trainee_id                 3.649e-06   2.92e-07     12.499      0.000    3.08e-06    4.22e-06
program_duration              0.0003      0.000      1.024      0.306      -0.000       0.001
test_id                      -0.0033      0.000     -8.747      0.000      -0.004      -0.003
==============================================================================
Omnibus:                      199.488   Durbin-Watson:                   1.364
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11109.703
Skew:                          -0.112   Prob(JB):                         0.00
Kurtosis:                       1.344   Cond. No.                     2.46e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.46e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [20]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(Data_train[features],Data_train['is_pass'])
Data_pred = tree.predict(Data_test[features])
Data_test['is_pass'] = Data_pred

C:\Users\braja.bera\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [21]:
Data_test['id'] = test['id']
Data_final_sub = Data_test[['id','is_pass']].drop_duplicates()

C:\Users\braja.bera\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
Data_final_sub.to_csv("model_final_submisison.csv",index=False)